.container{:style => "background-color:#fff; width:100%; border-style:solid; border-border-bottom:thick solid #fff;"}
	.row
		.col-xs-10.col-xs-offset-1.hidden-md.hidden-lg
			%h2{:style =>"color:#4da6ff;text-align:center;"} Bribery Happens
			%h1{:style =>"color:#555;text-align:center;"} Be Prepared
			%p{:style =>"color:#999;text-align:center;"} Bribed for Android helps you know what the average bribe costs where ever you are. So when it happens, you don't pay more than you have to. 
			.linkdss= link_to (image_tag 'android_button.jpg'), '#', :target => '_blank', :style=>" text-align: center;display: block;margin: 0 auto; padding:30px 0 30px;"
	


		.col-md-5.visible-md.visible-lg
			= image_tag "bribedphone.gif", :class => "img-responsive ", :style => "padding-top:0px; float: right;"
		.col-md-6.visible-md.visible-lg{:style => "padding-left:40px;"}
			%h1{:style =>"color:#4da6ff; font-size:2.5em; line-height:1em; padding-top:140px;font-weight:normal; "} Bribery Happens
			%h1{:style =>"color:#555; font-size:4em; line-height:1em; "} Be Prepared
			%h2{:style =>"color:#888; font-size:1.5em; line-height:1em;"} Bribed for Android helps you know what the average bribe costs where ever you are. So when it happens, you don't pay more than you have to.    
			.linkdiv{:style=>"margin:40px 0 30px 0px;"}= link_to (image_tag 'android_button.jpg'), '#', :target => '_blank'
	


	
/ Wrap the rest of the page in another container to center all the content.
.container.marketing{:style => "padding-top:0px;"}

	/ START THE FEATURETTES
	
	.row.featurette{:style => "padding-top:80px;"}
		.col-md-7
			%h2.featurette-heading
				First featurette heading.
				%span.text-muted It'll blow your mind.
			%p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
		.col-md-5
			= image_tag "500.png", :class => "featurette-image img-responsive"
			
%hr.featurette-divider/
.container.marketing{:style => "padding-top:0px;"}
	.row.featurette
		.col-md-5
			= image_tag "500.png", :class => "featurette-image img-responsive"
		.col-md-7
			%h2.featurette-heading
				Oh yeah, it's that good.
				%span.text-muted See for yourself.
			%p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
%hr.featurette-divider/
.container.marketing{:style => "padding-top:0px;"}
	.row.featurette
		.col-md-7
			%h2.featurette-heading
				And lastly, this one.
				%span.text-muted Checkmate.
			%p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
		.col-md-5
			= image_tag "500.png", :class => "featurette-image img-responsive"
%hr.featurette-divider{:style => "margin-bottom:10px;"}
.container.marketing{:style => "padding-top:0px;"}	
	.row{:style => "margin-bottom:30px;"}
		.col-md-12
			%h3{:style => "text-align:center"} Built By

	.row
		.col-lg-4.center
			.center= image_tag "wilhelm.png", :class => "img-circle img-responsive center"
			%h2 Wilhelm Caspar Oddo
			%p
				:plain
					<a href="https://twitter.com/WilhelmOddo" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @WilhelmOddo</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			%p Wilhelm  is the founder of NLab in Dar Es Salaam, Tanzania, at the moment he is working on his new startup called Academify for verifying academic documents. He is passionate about writing stories and keeping rabbits too.

		.col-lg-4.center
			= image_tag "joe.png", :class => "img-circle img-responsive center"
			%h2 Joe Mellin
			%p
				:plain
					<a href="https://twitter.com/JoeMellin" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @JoeMellin</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			%p Joe is currently living in Stockholm and loves diving into design.  He is interested in how companies can help people.  He is currently working on a way to help people learn how emotionally grow.
			
		.col-lg-4.center
			= image_tag "thuto.png", :class => "img-circle img-responsive center"
			%h2 Thuto Paul Gaotingwe
			%p
				:plain
					<a href="https://twitter.com/ThutoPaul" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @ThutoPaul</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			%p Thuto is a cool, creative software developer/designer in Botswana; Gaborone. He is inspired by solving community/society problems through the development of relevant innovative software applications. He is currently working on a precision livestock farming app called Modisar. 
%hr.featurette-divider{:style => "margin-bottom:10px;"}
.container.marketing{:style => "padding-top:0px;"}		
	.row{:style => "margin-bottom:30px;"}
		.col-md-12
			%h3{:style => "text-align:center"} 
				Created During 
				= link_to "Startup Bus Africa","http://africa.startupbus.com/", :style => "color:#fff"
:plain
	<div class="videoWrapper"><iframe width="100%" height=auto src="//www.youtube.com/embed/vvzPg-wxpYg?rel=0" frameborder="0" allowfullscreen></iframe></div>
	